.CCard {
    border-color: #292a3f;
    width: 100%;
    height: 100%;
    background-color: #395265;
    color: #65a1a6;
    border-style: wave;
    border-radius: 15px;
    box-suppress: hide;
    box-shadow: 0 0 10px #9ecaed;
    box-shadow: 7px 7px 15px 2px #66a2a6;
    -moz-box-align: center;
}


.CCHead{
    display: flex;
    justify-content: center;
    flex-direction: row ;

}
.CCHead div:last-child{
    color: #65a1a6;
    margin-left: 4px;
}
.CCHead div:first-child{
    color: rgba(243, 243, 244, 0.38);
    ;
}

.CCImage > img{
    width: 90%;
    height: auto;
    max-height: 302.39px;
    max-width: 302.39px;
}

.CCOrigin{

}