.Title{
    color: #65a1a6;

    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}
.Title > img{
    max-width: 150px;
    max-height: 150px;
}

.Title div {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;

}